# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  schedule:
    # 7, 13, 4, 23시 알림
    - cron:  "14 12 * * *"
    - cron:  "0 0 * * *"
    - cron:  "0 4 * * *"
    - cron:  "0 6 * * *"
    - cron:  "0 8 * * *"
    - cron:  "0 13 * * *"
    - cron:  "3 13 * * *"  



jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: execute
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        CHAT_ID: ${{ secrets.CHAT_ID }}
      run: |
        python app.py
